<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Properties.Settings>
            <setting name="sFileFilters" serializeAs="String">
                <value>.wma .mp3 .wav .aif .aiff</value>
            </setting>
            <setting name="sMinSongs" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="sPercent" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sRootPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="sFieldVisible" serializeAs="String">
                <value>4623</value>
            </setting>
            <setting name="sCheckingMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sExcludeCompilations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sIgnorePrefix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sPrefix" serializeAs="String">
                <value>The</value>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>
